/* CSS Document */

/*logout button*/

.back{
	text-align: left;
	padding: 10px;
}

.logout{
	text-align: right;
	padding: 10px;
}

img{
	height: 300px;
	width: 300px;
	margin-left: auto;
	margin-right: auto;
}