

.wrapper{ 
	width: 360px; padding: 50px; 
	margin-right: auto;
	margin-left: auto;
	border: solid;
	border-color: black;
	border-radius: 25px;
	background-color: sandybrown;
}

.next{
	text-align: right;
}