/* CSS Document */



.wrapper{ 
	width: 360px; 
	padding: 100px; 
	margin-top: 10%; 
	margin-right: auto;
	margin-left: auto;
	border: solid;
	border-color: black;
	border-radius: 25px;
	background-color: sandybrown;
}

.next{
	text-align: right;
}

body{
	background-color: darkseagreen;
}