body{background-color: gray;}

#faq{margin-right: 50%;}

#links{text-align: center;
margin-left: 15%;}


#header {color: rgb(31, 223, 31);
text-align: center;}

#Q{color: rgba(199, 28, 28, 0.805);
font: bold;}

#A{color: aquamarine;}