body{background-color: darkseagreen;}

.faq{	
	text-align: center;
	padding: 15px;
	font-size: 50px; 
	border: solid;
	background-color: green;
}

.intro {
	text-align: center;
	padding: 15px;
	font-size: 30px; 
	border: solid;
	background-color: sandybrown;
}

.Q{
font-size: 25px;	
}

.q1{
	border: solid;
	border-radius: 25px;
	padding: 10px;
	background-color: white;
	
}

.q2{
	border: solid;
	border-radius: 25px;
	padding: 10px;
	background-color: white;

}


.q3{
	border: solid;
	border-radius: 25px;
	padding: 10px;
	background-color: white;
}

.contact{
	text-align: center;
	padding: 25px;
	background-color: grey;
}

.top{
	font-size: 25px;
}

.text{
	font-size: 20px;
}

img{
	margin-left: auto;
	margin-right: auto;
	height: 100px;
}